{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% block other_lib_head %}

<link href="{% static "toopay-bootstrap-markdown/css/bootstrap-markdown.min.css" %}" rel="stylesheet">
<script src="{% static "toopay-bootstrap-markdown/js/bootstrap-markdown.js" %}"></script>

{% endblock %}

{% block container %}

<form action="" class="col-sm-12" method="post">
	<h4>¿Que deseas preguntar?</h4>
	<hr>
	{% csrf_token %}
	{{ form|crispy }}
	<input type="submit" class="btn btn-primary" value="Preguntar">
</form>
<script>
	$("#id_description").markdown({autofocus:false,savable:false})
</script>
{% endblock %}