{% extends 'base_no_sidebar.html' %}

{% load i18n %}

{% block title_question %}
<div class="col-sm-1 blog-main">
</div>
<div class="col-sm-11 blog-main">
	<h3 class="blog-title" style="font-weigth: bold;">{% trans "Usuarios" %}</h3>
	<hr>
</div>
{% endblock%}


{% block container %}
{% load static %}

<style>
	.thumbnail{
		border: none;
		border-radius: 0;
		background-color: transparent;
	}
	.caption a{
		text-decoration: underline;
		font-weight: bold;
	}
	.caption .badge{
		margin-left: 5px;
	}
	.thumbnail{
		font-size: 0.8em;

	}
</style>

<div class="row">
	<div class="col-sm-4">
		<form action="" method="get">
			<div class="input-group">
				<input name="username" type="text" class="form-control" placeholder="{% trans "Filtrar" %}..." value="{{ request.GET.username }}">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">{% trans "Buscar" %}!</button>
				</span>
			</div>
		</form>
	</div>
</div>

<div class="row">
	{% for current_user in users_list %}
	<div class="col-sm-3">
		<div class="media" style="background-color:#fcfcfc; padding: 10px; border: 1px solid #f2f2f2;">
			<div class="btn-group pull-left" style="margin-right: 15px;" role="group" aria-label="...">
				<a href=""><img class="/*img-circle*/" style="max-width:50; height:50px;" src="{% get_media_prefix %}{{current_user.profile.image}}" alt=""></a>
			</div>
			<div class="media-body">
				<a href="">{{current_user.username}}</a>
				<br>
				{{current_user.question_set.count}} {% trans "Preguntas" %}
			</div>
		</div>
	</div>
	{% if forloop.counter|divisibleby:4 %}
	<hr>
	{% endif %}
	{% endfor %}
</div>

<hr>


{% endblock %}