<html>
<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  {% load i18n %}
  {% include 'title_site_head.html' %}
  
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript" src="https://blockchain.info/Resources/wallet/pay-now-button.js"></script>

  {% block other_lib_head %}
  {% endblock %}
</head>
<body>
  <!-- Static navbar -->
  
  
  {% include 'nav_bar.html' %}
  <div class="container">
    <div class="row">
      <div class="col-sm-1 blog-main">
      </div>
      <div class="col-sm-8 blog-main">
        <a href="{% url 'home' %}"><span class="h2">{{ request.site.name }}</span></a>
      </div>
    </div>
    <div class="row">
      {% block title_question %}
      {% endblock %}
      
    </div>
    <div class="row">

      <div class="col-sm-1 blog-main">
      </div>
      <div class="col-sm-8">
        {% block container %}
        {% endblock %}

        {% block content %}
        {% endblock %}
        {% block extra_body %}
        {% endblock %}


      </div><!-- /.blog-main -->
      
      <div class="col-sm-3 blog-sidebar">
        {% block info_sidebar_top %}
        {% endblock %}
        <div class="sidebar-module" style="background-color: #fffae8; padding: 10px; border: 1px solid #e8daab;">
          <h5>{% trans "Publicidad" %}</h5>
        </div>
          <div class="sidebar-module" style="padding: 10px; margin-top: 25px;">
          <a class="btn btn-default"href="{% url 'donate' %}" style="margin-left: 40px;"><span class="glyphicon glyphicon-heart"></span>{% trans "Apoyar a stackblog" %}<span class="glyphicon glyphicon-heart"></span></a>
        </div>
        <br>
        {% load tag_side_bar_tags  %}
        {% tag_side_bar  %}
        

      </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->
  </div>
  {% include 'footer.html' %}
  
</body>
</html>