{% extends 'base.html' %}

{% block container %}

{% load i18n %}
{% load crispy_forms_tags %}
{% if request.user.has_usable_password %}
	<div class="jumbotron">
		<h1>Error de enlace</h1>
	</div>
{% else %}
<div class="col-sm-3"></div>
<form class="form-signin col-sm-6" method="POST" role="form">
		{% csrf_token %}
		<h2 class="form-signin-heading">{% trans "Cambiar de Contraseña" %}</h2>
		{{ form|crispy }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Cambiar" %}</button>
      </form>
 {% endif %}
{% endblock %}