{% extends 'base_clean.html' %}

{% block container %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load socialaccount %}


<div class="omb_login">
	<h3 class="omb_authTitle">{{ request.site.name }}</h3>
	<h3 class="omb_authTitle">{% trans "Iniciar Sesion" %} {% trans "ó" %} <a href="">Registrarse</a></h3>
	<div class="row omb_row-sm-offset-3 omb_socialButtons">
		<div class="col-xs-4 col-sm-2">
			<a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-lg btn-block omb_btn-facebook">
				<i class="fa fa-facebook visible-xs"></i>
				<span class="hidden-xs">Facebook</span>
			</a>
		</div>
		<div class="col-xs-4 col-sm-2">
			<a href="{% provider_login_url "twitter" %}" class="btn btn-lg btn-block omb_btn-twitter">
				<i class="fa fa-twitter visible-xs"></i>
				<span class="hidden-xs">Twitter</span>
			</a>
		</div>	
		<div class="col-xs-4 col-sm-2">
			<a href="{% provider_login_url "google" method="oauth2" %}" class="btn btn-lg btn-block omb_btn-google">
				<i class="fa fa-google-plus visible-xs"></i>
				<span class="hidden-xs">Google+</span>
			</a>
		</div>	
	</div>

	<div class="row omb_row-sm-offset-3 omb_loginOr">
		<div class="col-xs-12 col-sm-6">
			<hr class="omb_hrOr">
			<span class="omb_spanOr">{% trans "ó" %}</span>
		</div>
	</div>

	<div class="row omb_row-sm-offset-3">
		<div class="col-xs-12 col-sm-6">
			<form class="omb_loginForm" method="POST" role="form">
				{% csrf_token %}

				{{form}}

				<button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Entrar" %}</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1 col-sm-4"></div>
		<div class="col-xs-11 col-sm-2">
			<label class="checkbox">
				<input type="checkbox" value="remember-me">{% trans "Recordarme" %}
			</label>
		</div>
		<div class="col-xs-1 col-sm-4 pull-right"></div>
		<div class="col-xs-10 col-sm-2 pull-right">
			<p class="omb_forgotPwd">
				<a href="#">{% trans "Olvidé mi contraseña" %}</a>
			</p>
		</div>

	</div>	    	
</div>


{% endblock %}