{% extends 'base.html' %}
{% load crispy_forms_tags %}
% load staticfiles %}
{% load i18n %}
{% load static %}
{% block container %}

 

 	<div class='row' style="margin-top: 20px;">
 		<div class=''>
	  		<div class='col-xs-6' style="margin-top: 25px;">
					<img alt="" style="height: 280; max-width:300; margin-left: 30px;" src="{% get_media_prefix %}{{user.profile.image}}">
				
			</div>
			<div class='col-xs-6'>
				<div class='jumbotron'>
					<h1> {{user.username}} </h1>
					<div class="media-body">
						<FONT SIZE=4>
						<h3>Actividad de usuario:</h3>
						{% trans "Preguntas: " %} {{user.question_set.count}} 
						<br>
						{% trans "Respuestas: " %} {{user.answer_set.count}} 
						</FONT>
					</div>
					<div  style="margin-top: 10px;">
						<h4>
							{{user.email}}
						</h4>
				</div>
				</div>
			</div>
		</div>
 	</div>

 <div class="row">
 	<div class='col-xs-6'>
		<div class="alert alert-info" role="alert">
			<h4>Preguntas por el usuario:</h4>
		</div>
	</div>
</div>

 	
 {% for question in user.question_set.all %}

	<div class="col-xs-push-6" data-example-id="default-media">
			<div class="media" >
				<div class="btn-group pull-left" style="margin-right: 15px;" role="group" aria-label="...">
					<button type="button" class="btn btn-default no-border">
						{{ question.answer_set.count }}
						<br>
						{% trans "Respuestas" %}
					</button>
					<button type="button" class="btn btn-default no-border" style="border-radius:0;">
						{{question.views}}
						<br>
						{% trans "Visitas" %}
					</button>
				</div>
				<div class="media-body">
					<a href="{% url 'question_detail' question.pk %}"><h4 class="media-heading" style="font-weight:normal;">
						{{question.title }}</h4></a>
					{% for tag in question.tags.all %}
					<a href="{% url 'home_filter' %}?tag={{tag.name}}" class="btn btn-primary btn-xs btn-ligth-primary" type="button">{{ tag.name }}</a>
					{% endfor %}
				</div>
			</div>
	</div>
 {% endfor %}

<!--
<div class='row'>
	<form action="" class="col-sm-6 col-md-6 col-lg-6" method="post">

		{% csrf_token %}
		{{ form|crispy }}
		<input type="submit" class="btn btn-primary" value="{% trans "Actualizar Avatar" %}">

	</form>
</div>	
-->
 {% endblock %}