{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load staticfiles %}
{% load i18n %}

{% block other_lib_head %}

<link href="{% static "toopay-bootstrap-markdown/css/bootstrap-markdown.min.css" %}" rel="stylesheet">
<script src="{% static "toopay-bootstrap-markdown/js/bootstrap-markdown.js" %}"></script>

<meta property="og:url"                content="{{ request.build_absolute_uri }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{ question.title }}" />
<meta property="og:description"        content="{{ question.description|striptags }}" />
<meta property="og:image"              content="http://{{ request.get_host }}{% static "logo-menu.png" %}" />

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.4&appId=379877098838770";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block title_question %}
<div class="col-sm-1 blog-main">
</div>
<div class="col-sm-11 blog-main">
	<h3 class="blog-title" style="font-weigth: bold;">{{question.title}}</h3>
	<hr>
</div>
{% endblock%}

{% block info_sidebar_top %}

<div class="table-responsive">
	<table class="table" style="font-size: 13px;">
		<tbody>
			<tr>
				<th style="border:none; width:20%; color:gray; font-weight:normal;">{% trans "Fecha" %}</th>
				<td style="border:none;">{{ question.date|date:"d M Y" }}</td>
			</tr>
			<tr>
				<th style="border:none; color:gray; font-weight:normal;">{% trans "Visitas" %}</th>
				<td style="border:none;">{{question.views}}</td>
			</tr>
			<tr>
				<th style="border:none; color:gray; font-weight:normal;">{% trans "Votos" %}</th>
				<td style="border:none;">
					<a href="voteng"><span class="glyphicon glyphicon-minus"></span></a>
						{{question.voted}}
					<a href="voteps"><span class="glyphicon glyphicon-plus"></span></a>
				</td>

			</tr>
		</tbody>
	</table>
</div>
{% endblock %}

{% block container %}
{% load static %}
<div class="row">
	<div class="col-sm-12 blog-main" style="text-align:center;">
		<img src="{% static "baner.png" %}" style="width:100%;" alt="">
	</div>
</div>

<div class="row">
	<!--div class="col-xs-1">
		<br>
		<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
			<button type="button" class="btn  no-border">
				<span style="font-size:45px;" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
			</button>
			<span type="button" class="btn no-border">
				<span style="font-size:20px;">100</span>
			</span>
			<button type="button" class="btn no-border">
				<span style="font-size:45px;" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
			</button>
		</div>
	</div-->
	<div class="col-xs-12 /*col-xs-offset-1*/" style="padding:35px 30px;">
		<p class="/*lead*/">{{ question.description}}</p>
		<div class="media-body">
			{% for tag in question.tags.all %}
			<button class="btn btn-primary btn-xs btn-ligth-primary" type="button">{{ tag.name }}</button>
			{% endfor %}
		</div>
		
	</div>

	<div class="col-xs-12">
		<div class="col-xs-5">

			<div class="btn-group-horizontal" role="group" aria-label="Vertical button group">
				<br>
				<div id="fb-root"></div>


				<a href="#id_description" onclick="javascript:window.getElementById('id_description').focus();" type="button" class="btn btn-default btn-xs" style="margin-top: -12px;">
					<i class="glyphicon glyphicon-comment"></i>
					{% trans "Comentar" %}
				</a>
				<div class="fb-share-button" data-href="{{ request.build_absolute_uri }}"data-layout="button"></div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="open_nut" data-count="none" data-hashtags="opennut">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				
			</div>
		</div>
				{% if question.user == request.user %}
					<div class="col-xs-2" style="margin-top: 15px">
					<div class="dropdown ">
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    <span class="glyphicon glyphicon-scissors"></span>
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">			  	
					    <li><a href="#"><span class="glyphicon glyphicon-pencil">  Editar</a></span></li>
					    <li><a href="{% url 'eliminar_pregunta' question.id %}"><span class="glyphicon glyphicon-erase">  Eliminar</span></a></li>
					  </ul>
					</div>
					</div>
				{%  else %}
					<div class="col-xs-2">
					</div>
				{%  endif %}

		<div class="col-xs-5">
			<div class="media" style="background-color:#fcfcfc; padding: 10px; border: 1px solid #f2f2f2;">
				<div class="btn-group pull-left" style="margin-right: 15px;" role="group" aria-label="...">
					<a href=""><img class="/*img-circle*/" style="max-width:50; height:50px;" src="{% get_media_prefix %}{{question.user.profile.image}}" alt=""></a>
				</div>
				<div class="media-body">
					<a href="{% url 'profile' question.user.id %}">{{question.user.username}}</a>
					<br>
					{{question.user.question_set.count}} {% trans "Preguntas" %}
				</div>
			</div>
		</div>
	</div>



</div>

{% for current in question.answer_set.all %}

<hr>

<div class="row">
	<div class="col-xs-11 /*col-xs-offset-1*/" style="padding:0px 30px;">
		<p class="/*lead*/">{{ current.description}}</p>
		
	</div>
	{% if current.flag == 1 %}

	<span class="glyphicon glyphicon-star"></span>

	<style>
	.glyphicon.glyphicon-star{

		color: green;
		font-size: 30px;
	}

	</style>

	{% endif %}

	<div class="col-xs-12">
		

			{% if current.user == request.user %}
			<div class="col-xs-1">
			<div class="dropdown " style = "margin-top: 32px;">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    <span class="glyphicon glyphicon-scissors"></span>
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">			  	
			    <li><a href="#"><span class="glyphicon glyphicon-pencil">  Editar</a></span></li>
			    <li><a href="{% url 'eliminar_respuesta' current.id %}"><span class="glyphicon glyphicon-erase">  Eliminar</span></a></li>
			  </ul>
			</div>
			</div>
			{%  endif %}

			{% if question.user == request.user %}
				<div class="col-xs-6">
				 <a type="button" class="btn btn-default" style = "margin-top: 32px;" href="{% url 'respuesta_optima' current.id %}">
				  <span class="glyphicon glyphicon-king"> </span>
				  	Mejor Respuesta
				 </a>
				</div>
			{% else %}
				<div class="col-xs-6">
				</div>	
			{% endif %}

			{% if current.user != request.user %}
				<div class="col-xs-1">
				</div>	
			{%  endif %}




		<div class="col-xs-5">
			<div class="media" style="background-color:#fcfcfc; padding: 10px; border: 1px solid #f2f2f2;">
				<div class="btn-group pull-left" style="margin-right: 15px;" role="group" aria-label="...">
					<a href=""><img class="/*img-circle*/" style="max-width:50; height:50px;" src="{% get_media_prefix %}{{current.user.profile.image}}" alt=""></a>
				</div>
				<div class="media-body">
					<a href="{% url 'profile' current.user.id %}">{{current.user.username}}</a>
					<br>
					{{current.user.question_set.count}} {% trans "Preguntas" %}
				</div>
			</div>
		</div>
		
	</div>
	
</div>

{% endfor %}


{% if user.is_authenticated %}
<br>
<br>
<form action="{% url 'answer_save' %}" class="col-sm-12" method="post">
	<h4>{% trans "Respuestas" %}: </h4>
	<hr>
	{% csrf_token %}
	{{form|crispy}}
	<input name="guardar" type="submit" class="btn btn-primary"  value="{% trans "Responder" %}">
</form>
<script>
	$("#id_description").markdown({autofocus:false,savable:false})
</script>
{% endif %}

{% endblock %}